@import url("styles/header.css");


:root {
    --cor-de-fundo: #ffabd4;
    --rosa: #FFCAE4;
    --vermelho: #ff0000;
    --magenta: #FF50B9;
    

    
}

body {
    background-color: var(--cor-de-fundo);
}
